body{
    background-color:rgb(255, 238, 234) ;
    margin:0;
}
h1{
    color:rgb(82, 5, 5);
    font-size: 35px;
}
p{
    font-size: 20px;
}
.btn{
    background-color: rgb(0, 0, 0);
    color: white;
}
.newp{
    color: rgb(132, 10, 95);
}
.newli{
    color:red;
}
li:hover{
    color:red;
}