body{
    background-color:linen ;
    margin:0;
}

.title {
    color: goldenrod;
    margin-bottom: 10px;
}
.wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: baseline;
    justify-content: baseline;
    align-items: baseline;
}
.firstWrap{
    background-color: bisque;
}
.image{
    max-width: 450px;
}
h1, h2 {
    margin: 0;
}
.box{
    background-color:cornsilk;
    width: 400px;
    padding: 20px;
    margin-bottom: 30px;
    border: 5px solid goldenrod; 
    /* dashed - пунктир, solid - сплошной */
}
a {
    text-decoration: none;
    color: blue;
}
a:hover{
    color: red;
    font-size: 25px;
}